@font-face {
  font-family: HelveticaNbd;
  src: url(../fonts/HelveticaNeueLTPro-Bd.ttf); }
@font-face {
  font-family: HelveticaNbdcn;
  src: url(../fonts/HelveticaNeueLTPro-BdCn.otf); }
@font-face {
  font-family: HelveticaNRoman;
  src: url(../fonts/HelveticaNeueLTPro-Roman.ttf); }
.cta {
  width: 710px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap; 
}
.cta .cta_image {
  width: 22.5%; 
}
.cta .cta_image img {
  width: 100%;
  vertical-align: top; 
}
.cta .cta_messages {
    width: 52.1%;
    padding-left: 1.8%;
    background: #000105;
    padding-top: 1%; 
}
.cta .cta_messages .countdown_cont {
    overflow: hidden; 
}
.cta .cta_messages .countdown {
	width: 56.7%;
	overflow: hidden;
	float: left; 
}
.cta .cta_messages .cta_remaining {
  float: left;
  width: 43.3%;
  font-size: 13px;
  font-family: HelveticaNbd;
  padding-left: 4.8%;
  padding-right: 8%;
  color: white;
  padding-top: 2%;
  line-height: 117%; 
 }
.cta .cta_messages .time_box {
  width: 23%;
  background: #ff1805;
  float: left;
  font-size: 62%;
  text-align: center;
  color: white;
  font-family: HelveticaNbdcn;
  font-weight: bold;
  margin: 0 0.8%;
  padding: 2% 0; 
 }
 .cta .cta_messages .time_box .text {
  font-size: 13px; 
 }
 .cta .cta_messages .time_box .number {
	font-size: 24px;
	line-height: 100%; 
}
.cta .cta_messages .title_cont {
  padding: 1.2% 0 8% 0; 
}
.cta .cta_messages .title_cont .yellow_text_cta {
    color: #fee801;
    font-family: HelveticaNbdcn;
    font-size: 23px; 
}
.cta .cta_messages .title_cont .hurry_text_cta {
    color: white;
    font-family: HelveticaNbd;
    font-size: 13px;
    line-height: 100%;
    font-weight: normal; 
}
.cta .button_cta {
    width: 25.3%;
    background: #1a1a1a;
    padding: 4% 0 1.9% 0; 
}
.cta .button_cta .cont_button a {
  color: #2c1e04;
  background: linear-gradient(#febd17, #fe9917);
  text-align: center;
  width: 70%;
  padding: 6% 0;
  display: block;
  margin: 0 auto;
  font-size: 19px;
  font-family: HelveticaNbdcn;
  border-radius: 0.3em; 
}
.cta .button_cta .cta_sometext {
  color: white;
  text-align: center;
  font-size: 13px;
  margin-top: 7%;
  font-family: HelveticaNbd;
  line-height: 100%; 
}
.cta p {
    margin: 0; 
}

/*PHONE*/

@media only screen and (max-width: 767px) {
	.cta {
		width: 100%;
	}

	.cta .cta_image {
		width: 100%;
	}

	.cta .cta_messages {
		width: 100%;
	}

	.cta .cta_messages .countdown {
		width: 100%;
	}

	.cta .cta_messages .cta_remaining {
		padding: 2% 0;
		text-align: center;
		width: 100%;
	}

	.cta .button_cta {
		width: 100%;
	}

	.cta .cta_messages .title_cont {
		text-align: center;
	}

	.cta .cta_messages .time_box .text {
		font-size: 18px;
	}

	.cta .cta_messages .time_box .number {
		font-size: 32px;
	}
}
/*PHONE LANDSCAPE*/
@media only screen and (max-width: 767px) and (orientation: landscape) {
	.cta .cta_messages .time_box .number {
		font-size: 58px;
	}

	.cta .cta_messages .cta_remaining {
		font-size: 27px;
	}

	.cta .cta_messages .title_cont .yellow_text_cta {
		font-size: 42px;
	}

	.cta .button_cta .cont_button a {
		font-size: 43px;
		padding: 2% 0;
	}

	.cta .button_cta .cta_sometext {
		font-size: 22px;
	}
}
/*TABLET*/
@media (max-width: 979px) and (min-width: 768px) {
	.cta .cta_image {
		width: 50%;
	}

	.cta .cta_messages {
		width: 50%;
	}

	.cta .cta_messages .countdown {
		width: 100%;
	}

	.cta .cta_messages .time_box .text {
		font-size: 17px;
	}

	.cta .cta_messages .time_box .number {
		font-size: 51px;
	}

	.cta .cta_messages .cta_remaining {
		width: 100%;
		font-size: 26px;
		padding-left: 0;
	}

	.cta .cta_messages .title_cont .yellow_text_cta {
		font-size: 31px;
	}

	.cta .cta_messages .title_cont .hurry_text_cta {
		font-size: 25px;
	}

	.cta .button_cta .cont_button a {
		padding: 2% 0;
		font-size: 54px;
	}

	.cta .button_cta .cta_sometext {
		font-size: 38px;
	}

	.cta .button_cta {
		width: 100%;
	}
}


